.portafolio{
    text-align: center;
}
.Titulo{
    margin-top: 100px;
}

.PES{
    color: var(--secundary-text);
}

.MP{
    font-size: 50px;
}

.imagen{
    cursor: pointer;
}

.cod{
    margin: 50px;
    color: var(--secundary-text);
    font-size: 35px;
}

.logoscods{
    width: auto;
}

.other{
    margin: 50px;
    color: var(--secundary-text);
    font-size: 35px;
}

@media(min-width: 750px){
    .portafolio{
        text-align: left;
        max-width: 980px;
        padding-left: 50px;
        margin: 0 auto;
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        
    }

    .zona2{
        margin-top: 150px;
    }
    
    
    .PES{
        color: var(--secundary-text);
    }
    
    .MP{
        font-size: 50px;
    }
    
    .imagen{
        width: auto;
        cursor: pointer;
    }
    
    .cod{
        margin: 50px;
        color: var(--secundary-text);
        font-size: 35px;
    }
    
    .logoscods{
        width: auto;
    }
    
    .other{
        margin: 50px;
        color: var(--secundary-text);
        font-size: 35px;
    }
}
